<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
  <h2>Change Your Password</h2>
  <div th:if="${success}" style="color: green">[[${success}]]</div>
  <div th:if="${error}" style="color: red">[[${error}}]]</div>

<form th:action="@{change-password}" method="post">
  <label>Current Password:</label><br>
  <input type="password" name="currentPassword" required><br><br>
  <label>New Password:</label><br>
  <input type="password" name="newPassword" required><br><br>
  <label>Confirm New Password:</label><br>
  <input type="password" name="confirmPassword">
</form>
</body>
</html>