<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <div th:if="${error}" style="color: red">[[${error}]]</div>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <input type="text" th:field="*{firstName}" placeholder="First Name" required><br>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        <input type="text" th:field="*{lastName}" placeholder="Last Name" required><br>
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        <input type="email" th:field="*{email}" placeholder="Email" required><br>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <input type="password" th:field="*{passwordHash}" placeholder="Password" required><br>
        <div th:if="${#fields.hasErrors('passwordHash')}" th:errors="*{passwordHash}"></div>
        <button type="submit">Register</button>
    </form>
</body>
</html>